Repository NaverPayDev/code-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, markdownlit

lefthook.yml:

# Configure lefthook
# @see https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

# Note: commit-msg hook takes a single parameter,
#       the name of the file that holds the proposed commit log message.
# @see https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md#git-arguments
commit-msg:
    commands:
        commit-helper:
            run: 'npx --yes @naverpay/commit-helper {1}'

pre-commit:
    parallel: true
    commands:
        lint:
            glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,yaml,yml}'
            run: pnpm eslint {staged_files}
        prettier:
            glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,json,yaml,yml}'
            run: pnpm prettier --check {staged_files}
        markdownlit:
            glob: '*.md'
            run: pnpm markdownlint {staged_files}

Create clever-ghosts-smell.md
  .changeset/clever-ghosts-smell.md
Due: markdownlit

📝 rename wrong file name
  packages/eslint-plugin/lib/rules/peer-deps-in-dev-deps.js
Due: lint, prettier

📦 bump changed packages version
  .changeset/clever-ghosts-smell.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier, markdownlit

[#82] 📝 peer-deps-in-dev-deps 문서 작성
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/peer-deps-in-dev-deps.md
Due: markdownlit

[#94] pite, vite 설치
  package.json
  pnpm-lock.yaml
Due: lint, prettier

[#94] eslint-config pite build
  packages/eslint-config/package.json
  packages/eslint-config/rollup.config.js
  packages/eslint-config/vite.config.mjs
Due: lint, prettier

[#94] eslint-plugin pite 적용
  packages/eslint-plugin/package.json
  packages/eslint-plugin/vite.config.mjs
Due: lint, prettier

[#94] rollup 제거
  packages/eslint-plugin/rollup.config.js
  pnpm-lock.yaml
Due: lint, prettier

Create curvy-suits-grow.md
  .changeset/curvy-suits-grow.md
Due: markdownlit

[#94] 기본 cwd 사용
  packages/eslint-config/vite.config.mjs
  packages/eslint-plugin/vite.config.mjs
Due: lint, prettier

preferTypeOnlyAutoImports 권장 사항으로 변경
  packages/eslint-config/README.md
Due: markdownlit

📦 bump changed packages version
  .changeset/curvy-suits-grow.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier, markdownlit

[#83] 🔧 packageJson config
  eslint.config.mjs
  package.json
  packages/editorconfig/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/markdown-lint/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
Due: lint, prettier

[#83] ✨ change source code handling
  packages/eslint-plugin/lib/rules/peer-deps-in-dev-deps.js
Due: lint, prettier

[#83] 🚸 report devDeps, and if not present, peerDeps
  packages/eslint-plugin/lib/rules/peer-deps-in-dev-deps.js
Due: lint, prettier

[#83] 🎨 use @naverpay/peer-deps-in-dev-dep
  eslint.config.mjs
  packages/eslint-plugin/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: lint, prettier

[#83] 📝 change an example into flat config
  packages/eslint-plugin/docs/peer-deps-in-dev-deps.md
Due: markdownlit

Create polite-carpets-raise.md
  .changeset/polite-carpets-raise.md
Due: markdownlit

Create big-geese-change.md
  .changeset/big-geese-change.md
Due: markdownlit

[#97] ✨ auto fix peer-deps-in-dev-deps
  packages/eslint-plugin/lib/rules/peer-deps-in-dev-deps.js
Due: lint, prettier

[#104] 👽️ eslint-plugin-package-json@>=0.26.4
  packages/eslint-config/package.json
  packages/eslint-config/packageJson/configs.js
  pnpm-lock.yaml
Due: lint, prettier

Create lemon-dolls-unite.md
  .changeset/lemon-dolls-unite.md
Due: markdownlit

📦 bump changed packages version
  .changeset/lemon-dolls-unite.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier, markdownlit

[#97] ✨ auto fix peer-deps-in-dev-deps
  packages/eslint-plugin/lib/rules/peer-deps-in-dev-deps.js
  packages/eslint-plugin/lib/utils/getIndentationLength.js
Due: lint, prettier

Create small-dancers-sin.md
  .changeset/small-dancers-sin.md
Due: markdownlit

[#97] ♻️ filename
  packages/eslint-plugin/lib/rules/peer-deps-in-dev-deps.js
Due: lint, prettier

🔧 custom path 추가
  packages/eslint-config/package.json
Due: prettier

🔧 entry 추가
  packages/eslint-config/vite.config.mjs
Due: lint, prettier

🔖 changeset
  .changeset/tasty-pens-deny.md
Due: markdownlit

📦 bump changed packages version
  .changeset/big-geese-change.md
  .changeset/polite-carpets-raise.md
  .changeset/small-dancers-sin.md
  .changeset/tasty-pens-deny.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier, markdownlit

[#110] ✨ add canary and release workflows for automated package publishing
  .github/workflows/canary.yml
  .github/workflows/changeset-publish.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: lint, prettier

[#110] Implement code changes to enhance functionality and improve performance
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: lint, prettier

[#110] 🔄 refactor dependencies and peerDependencies in package.json
  packages/stylelint-config/package.json
Due: prettier

[#110] ✨ update release scripts to specify output directory for changeset publishing
  package.json
Due: prettier

[#110] ✨ add release candidate workflow for automated publishing
  .github/workflows/rc.yml
Due: lint, prettier

[#110] 🔧 refactor workflow and package configurations for improved detection and dependency management
  .github/workflows/changesets-detect-add.yml
  package.json
  pnpm-lock.yaml
Due: lint, prettier

Create large-dots-follow.md
  .changeset/large-dots-follow.md
Due: markdownlit

[#110] 📝 update changeset
  .changeset/large-dots-follow.md
Due: markdownlit

✨ add major changeset for @naverpay/stylelint-config dependencies update
  .changeset/add-major-changeset.md
Due: markdownlit

✨ update keywords in stylelint config for better discoverability
  packages/stylelint-config/package.json
Due: prettier
