Repository NaverPayDev/code-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, markdownlit

lint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

markdownlit:
  run: pnpm markdownlint {staged_files}

[#141] refactor(markdown-lint): postinstall 스크립트 제거
  packages/markdown-lint/README.md
  packages/markdown-lint/package.json
Due: prettier, markdownlit

fix: canary/rc 워크플로우 OIDC 인증 방식으로 전환
  .github/workflows/canary.yml
  .github/workflows/rc.yml
Due: lint, prettier

:recycle: refactor: release 워크플로우에 canary/rc 배포 기능 통합
  .github/workflows/canary.yml
  .github/workflows/rc.yml
  .github/workflows/release.yml
Due: lint, prettier

[#141] chore: changeset 파일을 패키지별로 분리
  .changeset/brave-tigers-fly.md
  .changeset/bright-wolves-dance.md
  .changeset/gentle-clouds-march.md
Due: markdownlit

Revert "Merge pull request #142 from NaverPayDev/feature/141"
  .changeset/brave-tigers-fly.md
  .changeset/gentle-clouds-march.md
  packages/editorconfig/README.md
  packages/editorconfig/createConfigFile.js
  packages/editorconfig/index.js
  packages/editorconfig/package.json
  packages/markdown-lint/README.md
  packages/markdown-lint/package.json
Due: lint, prettier, markdownlit

[#141] refactor(editorconfig): postinstall 스크립트 제거
  packages/editorconfig/README.md
  packages/editorconfig/createConfigFile.js
  packages/editorconfig/index.js
  packages/editorconfig/package.json
Due: lint, prettier, markdownlit

[#141] chore: add changesets for postinstall removal
  .changeset/brave-monkey-remove.md
  .changeset/gentle-tiger-simplify.md
Due: markdownlit

📦 bump changed packages version
  .changeset/brave-monkey-remove.md
  .changeset/gentle-tiger-simplify.md
  packages/editorconfig/CHANGELOG.md
  packages/editorconfig/package.json
  packages/markdown-lint/CHANGELOG.md
  packages/markdown-lint/package.json
Due: prettier, markdownlit

[#148] :wrench: chore: vitest 설정 파일 추가
  packages/markdown-lint/vitest.config.js
Due: lint, prettier

[#148] :recycle: refactor: jest에서 vitest로 마이그레이션
  packages/markdown-lint/index.test.js
Due: lint, prettier

[#148] :fire: chore: jest 설정 파일 제거
  packages/markdown-lint/jest.config.js
Due: lint, prettier

[#148] :package: chore: jest에서 vitest로 의존성 변경
  packages/markdown-lint/package.json
  pnpm-lock.yaml
Due: lint, prettier

[#148] :wrench: chore: changeset 추가 - jest에서 vitest로 마이그레이션
  .changeset/silent-windows-fly.md
Due: markdownlit

📦 bump changed packages version
  .changeset/silent-windows-fly.md
  packages/markdown-lint/CHANGELOG.md
  packages/markdown-lint/package.json
Due: prettier, markdownlit

[#151] 🔧 Remove deprecated ESLint APIs and duplicate plugin registration
  packages/eslint-config/node/rules/style.js
  packages/eslint-config/react/rules/node.js
  packages/eslint-plugin/lib/rules/import-server-only.js
  packages/eslint-plugin/lib/rules/memo-react-components.js
  packages/eslint-plugin/lib/rules/optimize-svg-components.js
  packages/eslint-plugin/lib/rules/peer-deps-in-dev-deps.js
  packages/eslint-plugin/lib/rules/sort-exports.js
  packages/eslint-plugin/lib/rules/svg-unique-id.js
Due: lint, prettier

Create lovely-hats-itch.md
  .changeset/lovely-hats-itch.md
Due: markdownlit

[#153] ✨ feat: cognitive-complexity ESLint 룰 추가
  packages/eslint-plugin/lib/index.js
  packages/eslint-plugin/lib/rules/cognitive-complexity.js
  packages/eslint-plugin/lib/rules/cognitive-complexity.test.js
Due: lint, prettier

[#153] 📝 docs: cognitive-complexity 룰 문서 추가
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/cognitive-complexity.md
Due: markdownlit

[#153] ✨ feat: cognitive-complexity 룰에 breakdown 옵션 추가
  packages/eslint-plugin/docs/cognitive-complexity.md
  packages/eslint-plugin/lib/rules/cognitive-complexity.js
  packages/eslint-plugin/lib/rules/cognitive-complexity.test.js
Due: lint, prettier, markdownlit

Create cute-actors-invent.md
  .changeset/cute-actors-invent.md
Due: markdownlit

[#153] ✨ refactor: breakdown 출력 메시지를 영어로 변경
  packages/eslint-plugin/docs/cognitive-complexity.md
  packages/eslint-plugin/lib/rules/cognitive-complexity.js
Due: lint, prettier, markdownlit

[#153] 🐛 fix: else if body의 nesting 계산 버그 수정
  packages/eslint-plugin/lib/rules/cognitive-complexity.js
Due: lint, prettier

📦 bump changed packages version
  .changeset/cute-actors-invent.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier, markdownlit

[#156] feat: Update @typescript-eslint for TypeScript 6.0 support
  .changeset/ts6-support.md
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: lint, prettier, markdownlit

📦 bump changed packages version
  .changeset/ts6-support.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier, markdownlit

[#159] 📝 docs: 레포 및 패키지별 CLAUDE.md 가이드 추가
  CLAUDE.md
  packages/biome-config/CLAUDE.md
  packages/code-style-cli/CLAUDE.md
  packages/editorconfig/CLAUDE.md
  packages/eslint-config/CLAUDE.md
  packages/eslint-plugin/CLAUDE.md
  packages/markdown-lint/CLAUDE.md
  packages/oxlint-config/CLAUDE.md
  packages/prettier-config/CLAUDE.md
  packages/stylelint-config/CLAUDE.md
Due: markdownlit

[#159] ⬆️ chore: TypeScript 6 마이그레이션 + typescript-eslint 8.61.1
  .changeset/update-typescript-eslint-8-61.md
  package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: lint, prettier, markdownlit

📦 bump changed packages version
  .changeset/update-typescript-eslint-8-61.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier, markdownlit

[#162] ✨ feat: oxfmt-config 패키지 추가
  CLAUDE.md
  README.md
  packages/oxfmt-config/.oxfmtrc.json
  packages/oxfmt-config/CHANGELOG.md
  packages/oxfmt-config/CLAUDE.md
  packages/oxfmt-config/README.md
  packages/oxfmt-config/package.json
  pnpm-lock.yaml
Due: lint, prettier, markdownlit

[#162] ✨ feat: code-style-cli oxfmt-config 지원 추가
  .changeset/oxfmt-config.md
  packages/code-style-cli/CLAUDE.md
  packages/code-style-cli/configs.js
Due: lint, prettier, markdownlit

✨ fix: update oxfmt.config.ts to include type for OxfmtConfig
  packages/oxfmt-config/README.md
Due: markdownlit

📦 bump changed packages version
  .changeset/oxfmt-config.md
  packages/code-style-cli/CHANGELOG.md
  packages/code-style-cli/package.json
Due: prettier, markdownlit

:memo: docs: oxlint-config react 프리셋 사용법 문서화
  packages/oxlint-config/CLAUDE.md
  packages/oxlint-config/README.md
Due: markdownlit

:sparkles: feat: oxlint-config에 react 프리셋 추가
  .changeset/oxlint-config-react-preset.md
  packages/oxlint-config/package.json
  packages/oxlint-config/react/.oxlintrc.json
Due: prettier, markdownlit

:memo: docs: code-style-cli README의 잘못된 oxfmt 설명 삭제
  .changeset/code-style-cli-oxfmt-readme.md
  packages/code-style-cli/README.md
Due: markdownlit

[#164] :sparkles: feat: oxlint-config 프리셋에 jsPlugins 룰 추가 (unused-imports, prevent-default-import)
  .changeset/oxlint-config-jsplugins.md
  packages/oxlint-config/node/.oxlintrc.json
  packages/oxlint-config/package.json
  packages/oxlint-config/react/.oxlintrc.json
  pnpm-lock.yaml
Due: lint, prettier, markdownlit

[#164] :memo: docs: oxlint-config jsPlugins 사용법/제약 문서화
  packages/oxlint-config/CLAUDE.md
  packages/oxlint-config/README.md
Due: markdownlit

[#164] :memo: docs: oxlint-config README에 extends 상속 한계 및 소비자 필수 항목 안내 추가
  .changeset/oxlint-config-readme-extends.md
  packages/oxlint-config/README.md
Due: markdownlit

Path conditions:
  lint: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx,yaml,yml}
  prettier: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx,json,yaml,yml}
  markdownlit: any of: *.md
