Repository NaverPayDev/code-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, markdownlit

lefthook.yml:

# Configure lefthook
# @see https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

# Note: commit-msg hook takes a single parameter,
#       the name of the file that holds the proposed commit log message.
# @see https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md#git-arguments
commit-msg:
    commands:
        commit-helper:
            run: 'npx --yes @naverpay/commit-helper {1}'

pre-commit:
    parallel: true
    commands:
        lint:
            glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,yaml,yml}'
            run: pnpm eslint {staged_files}
        prettier:
            glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,json,yaml,yml}'
            run: pnpm prettier --check {staged_files}
        markdownlit:
            glob: '*.md'
            run: pnpm markdownlint {staged_files}

✨ convert import-server-only to esm
  .github/workflows/changeset-publish.yml
  packages/eslint-plugin/lib/rules/import-server-only.js
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: lint, prettier

🚚 yaml 분리
  packages/eslint-config/react/configs.js
  packages/eslint-config/react/index.js
  packages/eslint-config/yaml/index.js
Due: lint, prettier

📝 사용 방법 내용 간략하게 수정
  packages/eslint-config/README.md
Due: markdownlit

📝 add an warning for @typescript-eslint rules with YAML
  packages/eslint-config/README.md
Due: markdownlit

📝 revise usage instructions
  packages/eslint-config/README.md
Due: markdownlit

[#75] 📦️ remove unused packages
  package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: lint, prettier

[#75] 📦️ move peers to deps
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: lint, prettier

📝 add keywords
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
Due: prettier

🔧 build before publish
  package.json
Due: prettier

🔧 add canary script
  package.json
Due: prettier

[#75] 🔧 remove unused script
  packages/editorconfig/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/markdown-lint/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
Due: prettier

👷 update trigger types in changesets workflow
  .github/workflows/changesets-detect-add.yml
Due: lint, prettier

[#75] 👷 update trigger types in changesets workflow
  .github/workflows/changesets-detect-add.yml
Due: lint, prettier

add changeset
  .changeset/cg-eslint-config.md
  .changeset/cg-eslint-plugin.md
Due: markdownlit

📦 bump changed packages version
  .changeset/cg-eslint-config.md
  .changeset/cg-eslint-plugin.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier, markdownlit

🐛 eslint@9 대응
  packages/eslint-plugin/lib/rules/memo-react-components.js
  packages/eslint-plugin/lib/rules/optimize-svg-components.js
  packages/eslint-plugin/lib/rules/svg-unique-id.js
Due: lint, prettier

[#78] 🐛 support eslint 9
  packages/eslint-plugin/lib/rules/memo-react-components.js
Due: lint, prettier

[#78] ♻️ add early return for unmatched file paths
  packages/eslint-plugin/lib/rules/memo-react-components.js
Due: lint, prettier

[#78] 🐛 support eslint 9
  packages/eslint-plugin/lib/rules/optimize-svg-components.js
Due: lint, prettier

[#78] 🐛 support eslint 9
  packages/eslint-plugin/lib/rules/svg-unique-id.js
Due: lint, prettier

[#78] ⚰️ remove dead code
  packages/eslint-plugin/lib/utils/astParser.js
Due: lint, prettier

Create wicked-cooks-count.md
  .changeset/wicked-cooks-count.md
Due: markdownlit

[#78] 👽️ support eslint 9
  packages/eslint-plugin/lib/rules/import-server-only.js
  packages/eslint-plugin/lib/rules/memo-react-components.js
  packages/eslint-plugin/lib/rules/optimize-svg-components.js
  packages/eslint-plugin/lib/rules/svg-unique-id.js
  packages/eslint-plugin/lib/utils/astParser.js
Due: lint, prettier

🔥 naming-convention 룰 제거
  packages/eslint-config/tests/typescript.test.js
  packages/eslint-config/typescript/rules/index.js
Due: lint, prettier

Create lemon-forks-relate.md
  .changeset/lemon-forks-relate.md
Due: markdownlit

📦 bump changed packages version
  .changeset/lemon-forks-relate.md
  .changeset/wicked-cooks-count.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier, markdownlit

[#83] 📦 add eslint-plugin-package-json plugin for default setting
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/packageJson/configs.js
  packages/eslint-config/packageJson/index.js
  pnpm-lock.yaml
Due: lint, prettier

Create puny-results-wonder.md
  .changeset/puny-results-wonder.md
Due: markdownlit

📦 bump changed packages version
  .changeset/puny-results-wonder.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier, markdownlit

[#80] 🔥 off @typescript-eslint/naming-convention
  packages/eslint-config/typescript/rules/index.js
Due: lint, prettier

Create fancy-jobs-vanish.md
  .changeset/fancy-jobs-vanish.md
Due: markdownlit

📦 bump changed packages version
  .changeset/fancy-jobs-vanish.md
  .changeset/puny-results-wonder.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier, markdownlit

[#80] 🐛 ignore typescript in package.json options
  packages/eslint-config/packageJson/configs.js
Due: lint, prettier

Create happy-pants-create.md
  .changeset/happy-pants-create.md
Due: markdownlit

📦 bump changed packages version
  .changeset/happy-pants-create.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier, markdownlit

[#82] feat: add ESLint rule to ensure peerDependencies are also in devDependencies
  packages/eslint-plugin/lib/index.js
  packages/eslint-plugin/lib/rules/peer-deps-in-dev-deps.js.js
Due: lint, prettier
