Repository NaverPayDev/code-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, markdownlit

lint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

markdownlit:
  run: pnpm markdownlint {staged_files}

[#130] 명시적으로 옵션 키기
  packages/biome-config/biome.json
Due: prettier

[#130] 🐛 update lock file
  pnpm-lock.yaml
Due: lint, prettier

[#130] chore: set package version to 0.0.0 for initial internal testing
  packages/biome-config/package.json
Due: prettier

Create silver-eagles-kneel.md
  .changeset/silver-eagles-kneel.md
Due: markdownlit

[#130] 🔥organizeImports 는 끄기
  packages/biome-config/biome.json
  packages/eslint-config/node/rules/import.js
  packages/eslint-config/react/rules/import.js
Due: lint, prettier

[#130] 📑 README 보강
  packages/biome-config/README.md
Due: markdownlit

📦 bump changed packages version
  .changeset/silver-eagles-kneel.md
  packages/biome-config/CHANGELOG.md
  packages/biome-config/package.json
Due: prettier, markdownlit

feat: oxfmt-config 패키지 추가
  .vscode/extensions.json
  packages/oxfmt-config/.oxfmtrc.json
  packages/oxfmt-config/README.md
  packages/oxfmt-config/package.json
  pnpm-lock.yaml
Due: lint, prettier, markdownlit

feat: oxfmt-config postinstall 자동 설정 복사 추가
  packages/oxfmt-config/README.md
  packages/oxfmt-config/createConfigFile.js
  packages/oxfmt-config/index.js
  packages/oxfmt-config/package.json
Due: lint, prettier, markdownlit

feat: oxlint-config 추가
  packages/oxlint-config/README.md
  packages/oxlint-config/node/.oxlintrc.json
  packages/oxlint-config/package.json
  pnpm-lock.yaml
Due: lint, prettier, markdownlit

docs: 리드미 업데이트
  packages/oxlint-config/README.md
Due: markdownlit

fix: 린트 에러 수정
  packages/oxlint-config/package.json
Due: prettier

docs: 루트 리드미 업데이트
  README.md
Due: markdownlit

🚀 init oxlint-config
  .changeset/release-oxlint.md
Due: markdownlit

feat: code-style-cli 패키지 초기 설정
  packages/code-style-cli/cli.js
  packages/code-style-cli/package.json
  pnpm-lock.yaml
Due: lint, prettier

feat: 패키지 매니저 감지 로직 추가
  packages/code-style-cli/cli.js
Due: lint, prettier

feat: 패키지 선택 UI 추가 - @inquirer/prompts
  packages/code-style-cli/cli.js
  packages/code-style-cli/package.json
  pnpm-lock.yaml
Due: lint, prettier

feat: 선택한 패키지 설치 로직 구현
  packages/code-style-cli/cli.js
Due: lint, prettier

feat: 설정 파일 생성 기능 구현 및 configs.js 분리
  packages/code-style-cli/cli.js
  packages/code-style-cli/configs.js
Due: lint, prettier

refactor: TOOLS 구조 통합
  packages/code-style-cli/cli.js
  packages/code-style-cli/configs.js
Due: lint, prettier

improve: CLI UX 개선
  packages/code-style-cli/cli.js
Due: lint, prettier

feat: 패키지별 설정 파일 생성 기능 추가
  packages/code-style-cli/configs.js
Due: lint, prettier

docs: 리드미 업데이트
  README.md
  packages/code-style-cli/README.md
Due: markdownlit

chore: 패키지 설치 실패 시 에러 처리 추가
  packages/code-style-cli/cli.js
Due: lint, prettier

feat: biome 스키마 버전 동적 생성
  packages/code-style-cli/cli.js
  packages/code-style-cli/configs.js
Due: lint, prettier

refactor: 패키지 매니저 관련 코드 통합
  packages/code-style-cli/cli.js
  packages/code-style-cli/configs.js
Due: lint, prettier

feat: 설치된 패키지 표시 및 설정 파일 덮어쓰기 확인 추가
  packages/code-style-cli/cli.js
Due: lint, prettier

Update tangy-streets-hide.md
  .changeset/tangy-streets-hide.md
Due: markdownlit

📦 bump changed packages version
  .changeset/tangy-streets-hide.md
  packages/code-style-cli/CHANGELOG.md
  packages/code-style-cli/package.json
Due: prettier, markdownlit

add permission for OIDC
  .github/workflows/release.yml
Due: lint, prettier

add read permission
  .github/workflows/release.yml
Due: lint, prettier

🔧 fix: use changeset-actions version with npm_token support
  .github/workflows/release.yml
  .gitignore
Due: lint, prettier

🔧 fix: use full commit SHA for changeset-actions
  .github/workflows/release.yml
Due: lint, prettier

🔧 fix: align release workflow with pie repo for OIDC publishing
  .github/workflows/release.yml
Due: lint, prettier

[#141] refactor(editorconfig): postinstall 스크립트 제거
  packages/editorconfig/README.md
  packages/editorconfig/createConfigFile.js
  packages/editorconfig/index.js
  packages/editorconfig/package.json
Due: lint, prettier, markdownlit

[#141] chore: add changeset for editorconfig major release
  .changeset/bright-wolves-dance.md
Due: markdownlit

[#141] refactor(markdown-lint): postinstall 스크립트 제거
  packages/markdown-lint/README.md
  packages/markdown-lint/package.json
Due: prettier, markdownlit

[#141] chore: update changeset for markdown-lint major release
  .changeset/bright-wolves-dance.md
Due: markdownlit

Path conditions:
  lint: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx,yaml,yml}
  prettier: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx,json,yaml,yml}
  markdownlit: any of: *.md
