Repository NaverPayDev/code-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, markdownlit

lefthook.yml:

# Configure lefthook
# @see https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

# Note: commit-msg hook takes a single parameter,
#       the name of the file that holds the proposed commit log message.
# @see https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md#git-arguments
commit-msg:
    commands:
        commit-helper:
            run: 'npx --yes @naverpay/commit-helper {1}'

pre-commit:
    parallel: true
    commands:
        lint:
            glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,yaml,yml}'
            run: pnpm eslint {staged_files}
        prettier:
            glob: '*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,json,yaml,yml}'
            run: pnpm prettier --check {staged_files}
        markdownlit:
            glob: '*.md'
            run: pnpm markdownlint {staged_files}

🔄 refactor: migrate to ES module syntax in stylelint config files
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/stylelint-config/src/rules/stylelint-order/index.js
  packages/stylelint-config/src/rules/stylelint-scss/index.js
  packages/stylelint-config/src/rules/stylelint/at-rule/index.js
  packages/stylelint-config/src/rules/stylelint/block/index.js
  packages/stylelint-config/src/rules/stylelint/color/index.js
  packages/stylelint-config/src/rules/stylelint/comment/index.js
  packages/stylelint-config/src/rules/stylelint/declaration/index.js
  packages/stylelint-config/src/rules/stylelint/font/index.js
  packages/stylelint-config/src/rules/stylelint/function/index.js
  packages/stylelint-config/src/rules/stylelint/general/index.js
  packages/stylelint-config/src/rules/stylelint/index.js
  packages/stylelint-config/src/rules/stylelint/length/index.js
  packages/stylelint-config/src/rules/stylelint/media-feature/index.js
  packages/stylelint-config/src/rules/stylelint/number/index.js
  packages/stylelint-config/src/rules/stylelint/property/index.js
  packages/stylelint-config/src/rules/stylelint/rule/index.js
  packages/stylelint-config/src/rules/stylelint/selector/index.js
  packages/stylelint-config/src/rules/stylelint/string/index.js
  packages/stylelint-config/src/rules/stylelint/unit/index.js
  packages/stylelint-config/src/rules/stylelint/value/index.js
Due: lint, prettier

🔄 refactor: migrate to ES module syntax for stylelint rule imports
  packages/stylelint-config/src/rules/stylelint/index.js
Due: lint, prettier

🔄 refactor: update stylelint rule exports to named exports for consistency
  packages/stylelint-config/index.js
  packages/stylelint-config/src/rules/stylelint-order/index.js
  packages/stylelint-config/src/rules/stylelint-scss/index.js
  packages/stylelint-config/src/rules/stylelint/index.js
Due: lint, prettier

🔄 refactor: change default exports to named exports for stylelint rules
  packages/stylelint-config/src/rules/stylelint/at-rule/index.js
  packages/stylelint-config/src/rules/stylelint/block/index.js
  packages/stylelint-config/src/rules/stylelint/color/index.js
  packages/stylelint-config/src/rules/stylelint/comment/index.js
  packages/stylelint-config/src/rules/stylelint/declaration/index.js
  packages/stylelint-config/src/rules/stylelint/font/index.js
  packages/stylelint-config/src/rules/stylelint/function/index.js
  packages/stylelint-config/src/rules/stylelint/general/index.js
  packages/stylelint-config/src/rules/stylelint/index.js
  packages/stylelint-config/src/rules/stylelint/length/index.js
  packages/stylelint-config/src/rules/stylelint/media-feature/index.js
  packages/stylelint-config/src/rules/stylelint/number/index.js
  packages/stylelint-config/src/rules/stylelint/property/index.js
  packages/stylelint-config/src/rules/stylelint/rule/index.js
  packages/stylelint-config/src/rules/stylelint/selector/index.js
  packages/stylelint-config/src/rules/stylelint/string/index.js
  packages/stylelint-config/src/rules/stylelint/unit/index.js
  packages/stylelint-config/src/rules/stylelint/value/index.js
Due: lint, prettier

🔥 remove deprecated rules
  packages/stylelint-config/src/rules/stylelint/at-rule/README.md
  packages/stylelint-config/src/rules/stylelint/at-rule/index.js
  packages/stylelint-config/src/rules/stylelint/block/README.md
  packages/stylelint-config/src/rules/stylelint/block/index.js
  packages/stylelint-config/src/rules/stylelint/color/README.md
  packages/stylelint-config/src/rules/stylelint/color/index.js
  packages/stylelint-config/src/rules/stylelint/declaration/README.md
  packages/stylelint-config/src/rules/stylelint/declaration/index.js
  packages/stylelint-config/src/rules/stylelint/function/README.md
  packages/stylelint-config/src/rules/stylelint/function/index.js
  packages/stylelint-config/src/rules/stylelint/general/README.md
  packages/stylelint-config/src/rules/stylelint/general/index.js
  packages/stylelint-config/src/rules/stylelint/index.js
  packages/stylelint-config/src/rules/stylelint/media-feature/README.md
  packages/stylelint-config/src/rules/stylelint/media-feature/index.js
  packages/stylelint-config/src/rules/stylelint/number/README.md
  packages/stylelint-config/src/rules/stylelint/number/index.js
  packages/stylelint-config/src/rules/stylelint/property/README.md
  packages/stylelint-config/src/rules/stylelint/property/index.js
  packages/stylelint-config/src/rules/stylelint/selector/README.md
  packages/stylelint-config/src/rules/stylelint/selector/index.js
  packages/stylelint-config/src/rules/stylelint/string/README.md
  packages/stylelint-config/src/rules/stylelint/string/index.js
  packages/stylelint-config/src/rules/stylelint/unit/README.md
  packages/stylelint-config/src/rules/stylelint/unit/index.js
  packages/stylelint-config/src/rules/stylelint/value/README.md
  packages/stylelint-config/src/rules/stylelint/value/index.js
Due: lint, prettier, markdownlit

🗑️ remove: eliminate unused value import from stylelint rules
  packages/stylelint-config/src/rules/stylelint/index.js
Due: lint, prettier

🗑️ remove: delete unused string rule and its documentation
  packages/stylelint-config/src/rules/stylelint/index.js
  packages/stylelint-config/src/rules/stylelint/string/README.md
  packages/stylelint-config/src/rules/stylelint/string/index.js
Due: lint, prettier, markdownlit

📝 update: change configuration file name to stylelint.config.mjs and adjust related instructions 🗑️ remove: delete references to unused stylelint rules in the documentation
  packages/stylelint-config/README.md
Due: markdownlit

🔧 update: upgrade stylelint version to ^16 in installation instructions
  packages/stylelint-config/README.md
Due: markdownlit

🎨 update: expand ignored shorthands for redundant longhand properties rule
  packages/stylelint-config/src/rules/stylelint/declaration/index.js
Due: lint, prettier

📝 update: translate README to English and improve clarity of installation and configuration instructions
  packages/stylelint-config/README.ko.md
Due: markdownlit

📦 bump changed packages version
  .changeset/add-major-changeset.md
  .changeset/large-dots-follow.md
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
Due: prettier, markdownlit

Add build step to workflows for canary, rc, and release processes
  .github/workflows/canary.yml
  .github/workflows/rc.yml
  .github/workflows/release.yml
  package.json
Due: lint, prettier

[#116] 🔧 update dependencies in eslint-config package
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: lint, prettier

Create rotten-cobras-rule.md
  .changeset/rotten-cobras-rule.md
Due: markdownlit

[#116] 타입필드 추가
  packages/editorconfig/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/markdown-lint/package.json
Due: prettier

[#116] 타입 필드 추가
  package.json
Due: prettier

[#116] 타입 필드 추가
  packages/markdown-lint/package.json
  packages/prettier-config/package.json
Due: prettier

📦 bump changed packages version
  .changeset/rotten-cobras-rule.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier, markdownlit

Create red-rabbit-run.md
  .changeset/red-rabbit-run.md
Due: markdownlit

📦 bump changed packages version
  .changeset/red-rabbit-run.md
  packages/editorconfig/CHANGELOG.md
  packages/editorconfig/package.json
  packages/markdown-lint/CHANGELOG.md
  packages/markdown-lint/package.json
Due: prettier, markdownlit

🔧 eslint-config-prettier 패키지 버전 10.1.5에서 10.1.8로 업데이트
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: lint, prettier

Create spicy-doodles-hide.md
  .changeset/spicy-doodles-hide.md
Due: markdownlit

🔧 eslint-config-prettier 패키지 버전 10.1.5에서 10.1.8로 업데이트 링크 수정
  .changeset/spicy-doodles-hide.md
Due: markdownlit

📦 bump changed packages version
  .changeset/red-rabbit-run.md
  .changeset/spicy-doodles-hide.md
  packages/editorconfig/CHANGELOG.md
  packages/editorconfig/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/markdown-lint/CHANGELOG.md
  packages/markdown-lint/package.json
Due: prettier, markdownlit

[#123] Modify svgValidator logic to remove unnecessary props check
  packages/eslint-plugin/lib/constants/test-data.js
  packages/eslint-plugin/lib/rules/optimize-svg-components.js
  packages/eslint-plugin/lib/utils/svg/props.test.js
Due: lint, prettier

[#123] Remove unused index file
  packages/eslint-plugin/lib/utils/index.js
  packages/eslint-plugin/lib/utils/svg/validator.test.js
Due: lint, prettier

[#123] test: {} -> undefined
  packages/eslint-plugin/lib/constants/test-data.js
Due: lint, prettier

Create khaki-mammals-retire.md
  .changeset/khaki-mammals-retire.md
Due: markdownlit

[#123] Modify svgoOptimize to include removeEmptyPaths plugin for handling empty path elements
  packages/eslint-plugin/lib/utils/svg/transform.js
Due: lint, prettier

[#123] Modify tests
  packages/eslint-plugin/lib/constants/test-data.js
  packages/eslint-plugin/lib/utils/svg/props.test.js
  packages/eslint-plugin/lib/utils/svg/transform.test.js
Due: lint, prettier

📦 bump changed packages version
  .changeset/khaki-mammals-retire.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier, markdownlit

[#97] 🐛 invalid filename
  packages/eslint-plugin/lib/rules/peer-deps-in-dev-deps.js
Due: lint, prettier

[#97] 📦 @naverpay/eslint-plugin to devDependencies in package.json
  package.json
  pnpm-lock.yaml
Due: lint, prettier

Create social-results-camp.md
  .changeset/social-results-camp.md
Due: markdownlit

📦 bump changed packages version
  .changeset/khaki-mammals-retire.md
  .changeset/social-results-camp.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier, markdownlit

react@19 지원을 위한 react hooks 버전업
  packages/eslint-config/package.json
  packages/eslint-plugin/lib/rules/svg-unique-id.js
  packages/eslint-plugin/lib/utils/svg/transform.js
  pnpm-lock.yaml
Due: lint, prettier

Create busy-clowns-deny.md
  .changeset/busy-clowns-deny.md
Due: markdownlit

📦 bump changed packages version
  .changeset/busy-clowns-deny.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier, markdownlit

[#130] 🚀 init biome
  packages/biome-config/README.md
  packages/biome-config/biome.json
  packages/biome-config/package.json
  pnpm-lock.yaml
Due: lint, prettier, markdownlit
